.entry {
  width: 85%; /* for mobiles with width smaller than 360 */
  max-width: 24rem; /* for web so the box isnt so big */
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--box-bg);
  box-sizing: border-box;
  margin: auto;
  animation: fadeIn 1s;
}

.entry h1{
  color: var(--text-accent);
	margin: 0;
	padding-bottom: 1.3rem;
  font-size: 2rem;
  user-select: none;
}

.input {
  display: inline-block;
  font-size: 1.125rem;
	color: var(--text);
	background-color: var(--item-bg);
	width: 100%;
  padding: 13px 20px 13px 20px;
  margin: 0 0 1.3rem 0;
	box-sizing: border-box;
  /* border: 3px solid rgba(0,0,0,0); */
  border: var(--border);
}
.input:focus {
	background: var(--item-bg-accent);
	border: 1px solid var(--text-accent);
	outline: none;
}

.submit {
  width: 100%;
  padding: 1.2rem 20px;
  background-color: var(--text-dark-accent);
  color: var(--text);
  font-size: 1.1rem;
  border-radius: 0.5vh;
  border: none;
  margin-bottom: 0.3rem;
}

.submit:hover {
  filter: brightness(90%);
}

.submit:active {
  filter: brightness(80%);
}

.submit:focus {
  outline: none;
  box-shadow: 0 0 4px var(--text);
}

.entry-link {
  color: var(--text-accent);
  text-decoration: none;
  font-size: 0.85rem;
}
.entry-link:active {
  filter: brightness(115%);
}

.error-text {
  color: red;
  padding: 0;
  padding-bottom: 0.2rem;
  margin: 0;
  font-size: 1rem;
  opacity: 0;
  user-select: none;
}
.error-visible {
  opacity: 1;
}

/* .normal-text {
  color: var(--base-colour);
  font-size: large;
} */

/* .logout {
  margin-top: 2rem;
} */

