* {
  --base-colour: #279AF1;
  --highlight-colour: #23B5D3;
  --dark-highlight-colour: #1a6fb1;
  --text-colour: black;
  --heading-colour: white;
  --textbox-colour: #E6E6E6;
}

.App {
  background-color: #E6E6E6;
  min-height: 100vh;
  display: flex;
}

.App .components {
  width: 100%;
  margin-top: 5rem;
  display: flex;
}

@keyframes fadeIn {
	from {
		opacity: 0; 
	}
	to {
		opacity: 1;
	}
}