* {
  --base-colour: #279AF1;
  --highlight-colour: #23B5D3;
  --dark-highlight-colour: #2541B2;
  --text-colour: black;
  --heading-colour: white;
}

.App {
  background-color: red;
  height: 100vh;
}

.posts {
  background-color: rgb(224, 222, 193);
  height: 100%;
}