:root {
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;
}
.darkmode {
  --base-bg: #191919;
  --box-bg: #252525;
  --box-bg-accent: #383838;
  --item-bg: #313131;
  --item-bg-accent: #484a4d;
  --item-selected: #eeeeee;
  --text: #E6E6E6;
  --text-accent: #279AF1;
  --text-dark-accent: #1a6fb1;
  --border-colour: #484a4d;
  --border: 1px solid #484a4d;
  --border-radius: 3px;
}
.lightmode {
  --base-bg: #e6e6e6;
  --box-bg: white;
  --box-bg-accent: #eeeeee;
  --item-bg: #d1d1d1;
  --item-bg-accent: #c5c5c5;
  --item-selected: #eeeeee;
  --text: black;
  --text-accent: #279AF1;
  --text-dark-accent: #1a6fb1;
  --border-colour: lightgrey;
  --border: 1px solid lightgrey;
  --border-radius: 3px;
}

.App {
  background-color: var(--base-bg);
  min-height: 100vh;
  display: flex;
}

.App .components {
  width: 100%;
  margin-top: 5rem;
  display: flex;
}

@keyframes fadeIn {
	from {
		opacity: 0; 
	}
	to {
		opacity: 1;
	}
}