.new-post-parent {
  width: 65rem;
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn 1s;
}

.new-post {
  width: 95%;
  min-height: 95%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.new-post h1 {
  font-weight: normal;
  text-align: center;
  color: var(--dark-highlight-colour);
}

.new-post form {
  display: flex;
  flex-direction: column;
}

.new-post form .custom-file-input {
  border: 1px solid #ccc;
  display: inline-block;
  /* padding: 0.6rem; */
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 3px;
}
.new-post form .custom-file-input .file-name {
  float: left;
  text-align: center;
  padding: 0.6rem;
}
.new-post form .custom-file-input .browse {
  background-color: lightgrey;
  float: right;
  padding: 0.6rem;
}
.new-post form .file-input {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.new-post form .button-parent {
  display: flex;
  flex-direction: row;
}
.new-post form .button-parent .button:nth-child(2) {
  background-color: var(--dark-highlight-colour);
}
.new-post form .button-parent .button {
  background-color: var(--base-colour);
  color: white;
  font-size: 1.3rem;
  padding: 0.6rem;
  margin: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}

.new-post .img-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post .img-parent img {
  max-width: 95%;
  max-height: 95%;
}