.dropdownmenu {
  position: absolute;
  top: var(--nav-size);
  width: 300px;
  transform: translate(-45%);
  background-color: var(--box-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}
.menu {
  width: 100%;
}

/* Menu Item */
.menu-item, .username {
  height: 50px;
  max-width: 284px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: pointer;
}
.menu-item:hover, .menu-item:hover .icon svg {
  background-color: var(--item-bg-accent);
  color: var(--text-accent);
  fill: var(--text-accent);
  transition: background var(--speed);
}
.menu-item .icon {
  margin-right: 0.5rem;
}

.username {
  cursor: initial;
  user-select: none;
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 600px) {
  .dropdownmenu {
    transform: translate(-40%);
    max-width: 80%;
  }
}