.navitem-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navitem {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.navitem > .icon:hover {
  background-color: var(--item-bg-accent);
}
.navitem > .icon:hover svg{
  fill: var(--text-accent);
}
.active > .icon {
  background-color: var(--item-selected);
}
.active > .icon svg {
  fill: var(--text-accent);
}
.active > .icon:hover {
  background-color: var(--item-selected);
  filter: brightness(80%);
}
.navitem-text {
  /* min-width: 56px; */
  color: var(--text);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.3rem 1rem;
  padding-bottom: 0.4rem;
  margin: 7px;
}
.navitem-text:hover {
  background-color: var(--item-bg-accent);
  color: var(--text-accent);
}


@media only screen and (max-width: 400px) {
  .navitem-text {
    margin: 3px;
  }
}
