.frontpage {
  /* background-color: darkgoldenrod; */
  max-width: 100%;
  width: 65rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.5rem 10fr;
  grid-template-areas: "sorting sidebar"
                       "posts sidebar";
  animation: fadeIn 1s;
}
.frontpage .sorting-parent {
  grid-area: sorting;
  width: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.frontpage .sorting {
  background-color: white;
  width: 45rem;
  max-width: 95%;
  margin: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
}

.frontpage .posts-parent {
  grid-area: posts;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.frontpage .sidebar {
  grid-area: sidebar;
}

.frontpage .sidebar-box {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.frontpage .sidebar-box h1 {
  background-color: var(--dark-highlight-colour);
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0;
}
.frontpage .sidebar-box p {
  margin: 0.6rem;
}

.frontpage .button {
  padding: 0.3rem 1rem;
  padding-bottom: 0.4rem;
  user-select: none;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1.6px solid var(--dark-highlight-colour);
  border-radius: 5rem;
  background-color: rgb(247, 247, 247);
  color: var(--dark-highlight-colour);
  margin: 0.6rem 1rem;
  display: inline-block;
}
.frontpage .button:hover {
  filter: brightness(110%);
}
.frontpage .button:active {
  filter: brightness(90%);
}

.overlay {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

.overlay .upload-button {
  background-color: var(--base-colour);
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  color: white;
  border-radius: 5rem;
  text-align: center;
  line-height: 3.2rem;
  cursor: pointer;
  user-select: none;
}
.overlay .upload-button:hover {
  filter: brightness(110%);
}
.overlay .upload-button:active {
  filter: brightness(90%);
}

.overlay .links {
  text-decoration: none;
}

@media only screen and (max-width: 65rem) {
  .frontpage {
    grid-template-columns: 1fr;
    grid-template-areas: "sorting "
                         "posts ";
  }
  .sidebar {
    display: none;
  }
  .frontpage .sorting {
    width: 100%;
    margin: 1rem 0;
  }
}