.frontpage {
  max-width: 100%;
  width: 65rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.5rem 10fr;
  grid-template-areas: "sorting sidebar"
                       "posts sidebar";
  animation: fadeIn 1s;
}
.frontpage .sorting-parent {
  grid-area: sorting;
  width: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.frontpage .sorting {
  background-color: var(--box-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  width: 45rem;
  max-width: 95%;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.frontpage .posts-parent {
  grid-area: posts;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.frontpage .sidebar {
  grid-area: sidebar;
}

.frontpage .sidebar-box {
  background-color: var(--box-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.frontpage .sidebar-box h1 {
  color: var(--text-accent);
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0;
}
.frontpage .sidebar-box p {
  margin: 0.6rem;
  color: var(--text);
}

.frontpage .button {
  color: var(--text);
  padding: 0.3rem 1rem;
  padding-bottom: 0.4rem;
  user-select: none;
  cursor: pointer;
  font-size: 0.8rem;
  /* border-radius: 5rem; */
  border-radius: var(--border-radius);
  margin: 0.6rem 1rem;
  display: inline-block;
  border:var(--border);
  transition: ease-in-out 200ms;
}
.frontpage .button:hover {
  background-color: var(--item-bg-accent);
  color: var(--text-accent);
}
.frontpage .button:active {
  filter: brightness(90%);
}
.frontpage .new-sort, .frontpage .top-sort {
  color: var(--text-accent);
  background-color: var(--item-selected);
}
.frontpage .top-sort:hover, .frontpage .new-sort:hover {
  color: var(--text-accent);
  background-color: var(--item-selected);
  filter: brightness(80%);
}
.frontpage .top-sort:active, .frontpage .new-sort:active {
  filter: brightness(70%);
}

.overlay {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem 1rem 0;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5rem;
  z-index: 2;
}

.overlay .upload-button {
  background-color: var(--text-accent);
  color: var(--text);
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  border-radius: 5rem;
  text-align: center;
  line-height: 3.2rem;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}
.overlay .upload-button:hover {
  filter: brightness(80%);
}
.overlay .upload-button:active {
  filter: brightness(70%);
}

.overlay .links {
  text-decoration: none;
}

@media only screen and (max-width: 65rem) {
  .frontpage {
    grid-template-columns: 1fr;
    grid-template-areas: "sorting "
                         "posts ";
  }
  .frontpage .sidebar {
    display: none;
  }
  .frontpage .sorting {
    width: 100%;
    margin: 1rem 0;
  }
  .frontpage {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 550px) {
  .frontpage {
    padding: 0;
  }
}