/* nav {
  background-color: var(--base-colour);
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 1s;
  z-index: 2;
}
nav ul {
  font-size: 2.5rem;
  color: var(--heading-colour);
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  
}
nav .links {
  padding: 0.5rem 1.2rem;
  padding-bottom: 0.6rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--heading-colour);
}
nav .links:hover {
  color: var(--textbox-colour);
  transform: translateY(1px);
}
nav ul .links:not(:first-child) {
  font-size: 1.1rem;
  margin-left: 1%;
  margin-right: 1%;
  border: 1.6px solid var(--heading-colour);
  border-radius: 5rem;
}
nav ul .links:first-child {
  margin-left: 2.5%;
}
nav ul .links:nth-child(2) {
  margin-left: auto;
}
nav ul .links:last-child {
  margin-right: 2.5%;
}

 */
